{{#if hasBlock}}
  {{yield}}
{{else}}
  <span class='daterangepicker-input'>
     <i class="fa fa-calendar fa-1"></i>
    {{#if label}}
      <label>{{label}}</label>
    {{/if}}
    {{rangeText}}
      {{#if isShown}}
        <i class="fa fa-chevron-up fa-1"></i>
      {{else}}
        <i class="fa fa-chevron-down fa-1"></i>
      {{/if}}
  </span>
{{/if}}